@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

h1{
    text-align: center;
}
div{
    text-align: center;
    justify-content: center;

}
.labas{
    justify-content: center;
}
input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    padding: 4px;
  }
  button{
    margin-bottom: 10px;
    width: 212px;
    padding: 4px;
  }

.table1 {
    border: 2px solid #FFBF00;
    border-collapse: collapse;
    font-family: Montserrat;
    margin: 30px auto;
    width: 500px;
}
.table1 th{
    border: 1px solid #FFBF00;
    padding: 15px;
    text-align: center;
}
 .table1 td {
    border: 1px solid #FFBF00;
    padding: 15px;
    text-align: left;
}
.lastname1 {
    background: #e29f04;
    border-top: 1px solid black;
    text-align: center;
}
.table1 thead {
    background: #FFBF00;
    text-align: center;

}
.table1 tbody {
    background: #302387;
    color: white;
}

